Repository srm-kzilla/fury, pull requests merged in 2023-09, with the labels that each got.

#413 fix: fixes to application flow
  client/dashboard/app/routes/applications.domain-select.tsx
  client/dashboard/app/routes/applications.technical-project.tsx
  client/dashboard/app/types/index.ts
  client/dashboard/app/utils/toast.client.tsx
Labels: bug, frontend-dashboard

#415 Update hyperlink to open in new tab
  client/dashboard/app/routes/applications.status.$domain.tsx
Labels: needs-changes, frontend-dashboard

#420 Adds Templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
