Repository srm-kzilla/fury, pull requests merged in 2023-08, with the labels that each got.

#369 Updates and Adds Readme
  README.md
  client/README.MD
Labels: enhancement, review-requested

#371 fix: linkedin regex
  client/dashboard/app/routes/start.tsx
Labels: bug, review-requested

#372 fix: cookie limit exceeded
  client/dashboard/app/components/ApplicationTile.tsx
  client/dashboard/app/components/Project.tsx
  client/dashboard/app/components/ProjectTiles.tsx
  client/dashboard/app/root.tsx
  client/dashboard/app/routes/_index.tsx
  client/dashboard/app/routes/applications.domain-select.tsx
  client/dashboard/app/routes/applications.new.tsx
  client/dashboard/app/routes/applications.technical-project.tsx
  client/dashboard/app/styles/pages/ProjectTiles.scss
  client/dashboard/app/types/index.ts
  client/dashboard/app/utils/session.server.ts
Labels: bug, frontend-dashboard

#373 fix: note for people not attending the task
  client/dashboard/app/utils/applications.ts
Labels: enhancement, frontend-dashboard

#375 Faster than Aryan to add signup Middleware
  api/routes/admin.router.go
  api/utils/middlewares/middlewares.go
Labels: enhancement, backend

#359 feat: api integration
  client/admin/components/DisplayCard.tsx
  client/admin/mock-data/names.json
  client/admin/mock-data/quesans.tsx
  client/admin/package.json
  client/admin/pages/_app.tsx
  client/admin/pages/api/form.ts
  client/admin/pages/api/questions.json
  client/admin/pages/api/review.ts
  client/admin/pages/dashboard.tsx
  client/admin/pages/index.tsx
  client/admin/pnpm-lock.yaml
  client/admin/styles/globals.css
Labels: enhancement, frontend-admin, review-requested

#385 feat: icons for links
  client/admin/components/DisplayCard.tsx
  client/admin/package.json
  client/admin/pnpm-lock.yaml
  client/admin/types/index.ts
Labels: enhancement, frontend-admin

#384 fix: Refactor Display card component
  client/admin/components/DisplayCard.tsx
  client/admin/pages/api/questions.json
Labels: enhancement, frontend-admin, refactor, ready-to-merge

#379 refactor: admin ui
  client/admin/.env.example
  client/admin/components/DisplayCard.tsx
  client/admin/mock-data/names.json
  client/admin/mock-data/quesans.tsx
  client/admin/package.json
  client/admin/pages/_app.tsx
  client/admin/pages/api/questions.json
  client/admin/pages/api/review.ts
  client/admin/pages/api/signin.ts
  client/admin/pages/dashboard.tsx
  client/admin/pages/index.tsx
  client/admin/pages/signin.tsx
  client/admin/pnpm-lock.yaml
  client/admin/styles/globals.css
  client/admin/tailwind.config.js
  client/admin/types/index.ts
  client/admin/utils/toast.ts
Labels: enhancement, frontend-admin

#377 update icons
  client/dashboard/app/components/Tile.tsx
  client/dashboard/app/styles/components/Tile.scss
  client/dashboard/app/types/index.ts
  client/dashboard/app/utils/projects.tsx
Labels: enhancement, frontend-dashboard, ready-to-merge

#378 FAQ page
  client/dashboard/app/components/Sidebar.tsx
  client/dashboard/app/root.tsx
  client/landing/components/Footer.tsx
  client/landing/constants/faqQuestion.ts
  client/landing/pages/faq.tsx
Labels: enhancement, frontend-landing-page, frontend-dashboard

#395 Filter domain applications
  api/controllers/admin.controller.go
Labels: bug, backend

#392 Adds Pending Button
  client/admin/components/DisplayCard.tsx
  client/admin/utils/toast.tsx
Labels: enhancement, frontend-admin

#394 feat: Add copy on click functionality
  client/admin/components/DisplayCard.tsx
Labels: enhancement, frontend-admin, ready-to-merge

#391 Differentiate Q and A
  client/admin/components/DisplayCard.tsx
Labels: frontend-admin

#396 feat: show logged in email
  client/admin/package.json
  client/admin/pages/index.tsx
  client/admin/pnpm-lock.yaml
Labels: enhancement, frontend-admin

#397 fix admin signup
  api/routes/admin.router.go
  api/utils/middlewares/middlewares.go
Labels: bug, backend

#398 fix: never access token on fe
  client/admin/pages/index.tsx
Labels: bug, frontend-admin

#399 fix get domain applications
  api/controllers/admin.controller.go
Labels: bug, backend

#402 Text Selectable
  client/admin/components/DisplayCard.tsx
Labels: enhancement, frontend-admin

#404 ✨ Add questions for Technicalp domain
  client/admin/pages/api/questions.json
Labels: enhancement, frontend-admin, ready-to-merge

#406 Add Loader Toasts
  client/admin/components/DisplayCard.tsx
  client/admin/pages/signin.tsx
  client/admin/utils/toast.tsx
Labels: enhancement, frontend-admin

#409 Fixes bypass to Tech-p
  client/dashboard/app/routes/applications.technical-project.tsx
  client/dashboard/app/types/enum.ts
  client/dashboard/app/types/index.ts
Labels: frontend-dashboard

#393 Responsivity in mobile
  client/admin/components/DisplayCard.tsx
Labels: frontend-admin

#410 Fix ordering of questions
  client/admin/components/DisplayCard.tsx
  client/admin/pages/api/questions.json
Labels: enhancement, frontend-admin, ready-to-merge

#403 comment login route from BE
  api/routes/auth.router.go
Labels: good first issue, backend

#412 send all applications accept draft
  api/controllers/admin.controller.go
Labels: bug, backend
